<a href="https://colab.research.google.com/github/thanhdtnguyen/My-Python-Workbook/blob/master/advanced_pandas/dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250">

## <center> Intro to Dataframes

In [1]:
import pandas as pd

In [2]:
scores = {"name":['Ray','Japhy','Zosa'],
          "city":['San Francisco','San Francisco','Denver'],
          "score":[75,92,94]
         }

In [3]:
df = pd.DataFrame(scores)

In [5]:
df

    name           city  score
0    Ray  San Francisco     75
1  Japhy  San Francisco     92
2   Zosa         Denver     94

In [6]:
df['score']

0    75
1    92
2    94
Name: score, dtype: int64

In [7]:
df['name_city'] = df['name'] + '_' + df['city']

In [8]:
df[df['score']>90]

    name           city  score            name_city
1  Japhy  San Francisco     92  Japhy_San Francisco
2   Zosa         Denver     94          Zosa_Denver

In [11]:
# Create a dataframe consists of places that I want to visit

import pandas as pd

toGoList = {
    'city' : ['Osaka', 'Vung Tau', 'Ha Noi', 'Hokkaido', 'Seoul', 'London', 'Paris'],
    'country' : ['Japan', 'Vietnam', 'Vietnam', 'Japan', 'Korea', 'England', 'France'],
    'year' : [2019, 2022, 2022, 2022, 2023, 2024, 2024],
    'visited' : ['Yes', 'No', 'No', 'No', 'No', 'No', 'No']
}

df = pd.DataFrame(toGoList)
df

       city  country  year visited
0     Osaka    Japan  2019     Yes
1  Vung Tau  Vietnam  2022      No
2    Ha Noi  Vietnam  2022      No
3  Hokkaido    Japan  2022      No
4     Seoul    Korea  2023      No
5    London  England  2024      No
6     Paris   France  2024      No

In [12]:
df.country

0      Japan
1    Vietnam
2    Vietnam
3      Japan
4      Korea
5    England
6     France
Name: country, dtype: object

In [13]:
df[df.country == 'Vietnam']

       city  country  year visited
1  Vung Tau  Vietnam  2022      No
2    Ha Noi  Vietnam  2022      No

In [14]:
df['destination'] = df['city'] + ', ' + df['country']

In [15]:
df

       city  country  year visited        destination
0     Osaka    Japan  2019     Yes       Osaka, Japan
1  Vung Tau  Vietnam  2022      No  Vung Tau, Vietnam
2    Ha Noi  Vietnam  2022      No    Ha Noi, Vietnam
3  Hokkaido    Japan  2022      No    Hokkaido, Japan
4     Seoul    Korea  2023      No       Seoul, Korea
5    London  England  2024      No    London, England
6     Paris   France  2024      No      Paris, France